nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  background: $yellow;
  a {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $black;
      transition: 0.4s ease;
    }
    &:hover {
      &:after{
        width: 100%;
        left: 0;
        background: $black;
      }
    }
  }
  .nav-columns {
    transform: translateY(125px);
    display: flex;
    padding: 0 32px;
    @include media('<=654px') {
      transform: translateY(75px);
      flex-direction: column;
    }
    @include media('<=phone') {
      padding: 0 16px;
    }
    .nav-column {
      width: 45%;
      @include media('<=phone') {
        width: 100%;
      }
      &:last-child {
        width: 55%;
        @include media('<=654px') {
          width: 100%;
        }
      }
      .nav-label {
        margin-bottom: 1rem;
        font-size: 1rem;
        @include media('<=tablet') {
          font-size: 0.875rem;
          margin-bottom: 0.4rem;
        }
        @include media('<=phone') {
          font-size: 0.5rem;
          margin-bottom: 0.3rem;
        }
      }
      .nav-links {
        padding: 0; //cause ul come with padding and margin by default
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 1rem;
          @include media('<=phone') {
            margin-bottom: 0.6rem;
          }
          a {
            font-weight: 600;
            font-size: 2rem;
            text-decoration: none;
            color: $black;
            @include media('<=phone') {
              font-size: 1.5rem;
            }
          }
        }
      }
      .nav-infos {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        @include media('<=654px') {
          justify-content: space-between;
        }
        .nav-info {
          padding: 0;
          width: 50%;
          margin: 0.5rem 0;
          @include media('<=654px') {
            width: 100%;
          }
          &:nth-child(2),
          &:nth-child(3), 
          &:nth-child(4) {
            @include media('<=654px') { // this is because when we reach the mobile viewport you dont have too much space to work with and need to limit what isn't all neccesary that important
              display: none;
            }
          }
          .nav-info-label {
            font-weight: 600;
          }
          li{
            font-weight: 300;
            list-style: none;
            font-size: 1rem;
            margin-bottom: 0.7rem;
            @include media('<=tablet') {
              font-size: 0.875rem;
              margin-bottom: 0.6rem;
            }
            @include media('<=phone') {
              font-size: 0.5rem;
              margin-bottom: 0.5rem;
            }
            a {
              text-decoration: none;
              color: $black;
            }
          }
        }
      }
    }
  }
}